*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules
oclif.manifest.json



yarn.lock
pnpm-lock.yaml

.env
build/
disco-compiled
disco-final*
disco-v2
disco-config
disco
node_modules/
